Date: 2/1/23

**Practical no.4**

**Aim: Write a pandas program to split following dataframe by unique_column and get mean,max,min and max values of age for respective data_sets.**

In [ ]:
import pandas as pd
df=pd.DataFrame({'School_code':['S001','S002','S003','S001','S002','S004'],
              'Class':['I','II','III','IV','V','VI'],
              'Name' :['AAA','BBB','CCC','DDD','EEE','FFF'],
              'AGE'  :[12,13,12,12,14,13],
              'Height':[110,120,130,140,150,160],
              'Weight':[40,50,60,70,80,90],
              'Address':['Nerul','Panvel','vashi','juinagar','sanpada','seawoods']},
              index=['S1','S2','S3','S4','S5','S6'])
print("Original DataFrame")
grouped_single=df.groupby('School_code').agg({'AGE':('mean','min','max')})
print(grouped_single)

Original DataFrame
              AGE
             mean min max
School_code
S001         12.0  12  12
S002         13.5  13  14
S003         12.0  12  12
S004         13.0  13  13