Date:09/01/23

**Practical No.1**

**Aim: Write a NumPy program to swap rows and columns of a given array in reverse order.**

In [ ]:
import numpy as np
a=np.array([['c1','c2','c3','c4'],[0,1,3,4],[90,91,93,94],[5,0,4,2]])
print("original array elements:\n",a)

original array elements:
 [['c1' 'c2' 'c3' 'c4']
 ['0' '1' '3' '4']
 ['90' '91' '93' '94']
 ['5' '0' '4' '2']]

In [ ]:
print("swap row of the said array in reverse order")
swap_rows=a[::-1,::]
print(swap_rows)

swap row of the said array in reverse order
[['5' '0' '4' '2']
 ['90' '91' '93' '94']
 ['0' '1' '3' '4']
 ['c1' 'c2' 'c3' 'c4']]

In [ ]:
print("swap column of the given array in reverse order")
swap_col=a[::,::-1]
print("Swapped colos \n",swap_col)

swap column of the given array in reverse order
Swapped colos
 [['c4' 'c3' 'c2' 'c1']
 ['4' '3' '1' '0']
 ['94' '93' '91' '90']
 ['2' '4' '0' '5']]

In [ ]:
print("swap column of the given array in reverse order")
swap_row_col=a[::-1,::-1]
print("Swapped rows and colos \n",swap_row_col)

swap column of the given array in reverse order
Swapped rows and colos
 [['2' '4' '0' '5']
 ['94' '93' '91' '90']
 ['4' '3' '1' '0']
 ['c4' 'c3' 'c2' 'c1']]

In [ ]:
#Swap two rows & columns
num1=a
num2=a
x=np.arange(12).reshape (3,4)
print("Swap Row of the Said array in reverse order :")
print(a)
a[:,[0, 1]] = a[:,[1, 0]]
#swaprows = a[3:1:-1,::-1]
#print(swaprows)
print(a)

Swap Row of the Said array in reverse order :
[['c2' 'c1' 'c3' 'c4']
 ['1' '0' '3' '4']
 ['91' '90' '93' '94']
 ['0' '5' '4' '2']]
[['c1' 'c2' 'c3' 'c4']
 ['0' '1' '3' '4']
 ['90' '91' '93' '94']
 ['5' '0' '4' '2']]