In [ ]:
#importing libraries
import pandas as pd

#Create dataframe
data={'name':['Swapnil','Rahul','Pradnya','Aishwarya','Pawan'],
     'age' :[42,52,36,27,73],
     'preTestscore':[4,24,31,2,3],
     'postTestscore':[24,94,57,62,70]}
df=pd.DataFrame(data,columns=['name','age','preTestscore','postTestscore'])
print(df)

        name  age  preTestscore  postTestscore
0    Swapnil   42             4             24
1      Rahul   52            24             94
2    Pradnya   36            31             57
3  Aishwarya   27             2             62
4      Pawan   73             3             70

In [ ]:
df['age'].sum()

230

In [ ]:
df['preTestscore'].mean()

12.8

In [ ]:
df['preTestscore'].cumsum()

0     4
1    28
2    59
3    61
4    64
Name: preTestscore, dtype: int64

In [ ]:
df['preTestscore'].max()

31

In [ ]:
df['preTestscore'].median()

4.0

In [ ]:
df['preTestscore'].describe()

count     5.000000
mean     12.800000
std      13.663821
min       2.000000
25%       3.000000
50%       4.000000
75%      24.000000
max      31.000000
Name: preTestscore, dtype: float64

In [ ]:
df['preTestscore'].count()

5

In [ ]:
df['preTestscore'].var()

186.7

In [ ]:
df['preTestscore'].skew()

0.7433452457326751

In [ ]:
df['preTestscore'].std()

13.663820841916802

In [ ]:
df.corr()

                    age  preTestscore  postTestscore
age            1.000000     -0.144328       0.342418
preTestscore  -0.144328      1.000000       0.378895
postTestscore  0.342418      0.378895       1.000000

In [ ]:
df.cov()

                  age  preTestscore  postTestscore
age            310.50        -34.75         152.50
preTestscore   -34.75        186.70         130.85
postTestscore  152.50        130.85         638.80

In [ ]:
df.describe()

            age  preTestscore  postTestscore
count   5.00000      5.000000       5.000000
mean   46.00000     12.800000      61.400000
std    17.62101     13.663821      25.274493
min    27.00000      2.000000      24.000000
25%    36.00000      3.000000      57.000000
50%    42.00000      4.000000      62.000000
75%    52.00000     24.000000      70.000000
max    73.00000     31.000000      94.000000